<!-- Login and Sign Up -->
<div *ngIf="!isLoggedIn" class="col-md-4">
    <div class="bs-component">
        <ul class="nav nav-pills" style="margin-bottom: 15px;">
            <li class="active"><a href="#login" data-toggle="tab" aria-expanded="true">Login<div class="ripple-container"></div></a></li>
            <li class=""><a href="#signup" data-toggle="tab" aria-expanded="true">Sign Up<div class="ripple-container"></div></a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="login">
                <login></login>
            </div>
            <div class="tab-pane fade" id="signup">
                <div class="col-md-6">
                    <div class="well bs-component">
                        <form name="addAccount" class="form-horizontal">
                            <fieldset>
                                <div class="col-md-offset-2 col-md-10">
                                    <legend>Sign up</legend>

                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label" for="name">Your name</label>
                                        <input class="form-control" name="name" type="text" [(ngModel)]="user.name">
                                    </div>

                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label" for="email">Your email</label>
                                        <input class="form-control" name="email" type="email" [(ngModel)]="user.email">
                                        <span class="help-block">Please enter a valid email address</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="control-label">Year of birth</label>
                                        <select name="year" class="form-control" [(ngModel)]="user.age">
                            <option *ngFor="let number of years">{{number}}</option>
                        </select>
                                    </div>

                                    <div class="form-group label-floating is-empty">
                                        <label for="password" class="control-label">Password</label>
                                        <input class="form-control" name="password" type="password" [(ngModel)]="user.password">
                                    </div>

                                    <div class="form-group label-floating is-empty">
                                        <label for="confirmpassword" class="control-label">Confirm Password</label>
                                        <input class="form-control" name="confirmpassword" type="password">
                                    </div>

                                    <label>
                        <input 
                            type="checkbox"
                            name="location"
                            [(ngModel)]="user.allow_loc_services"
                        ><span class="checkbox-material"><span class="check"></span></span> Allow location services
                    </label>

                                    <button type="submit" class="btn btn-primary" (click)="add()">Create Account<div class="ripple-container"></div></button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Stats and Settings -->
<div *ngIf="isLoggedIn" class="col-md-4">
    <div class="bs-component">
        <ul class="nav nav-pills" style="margin-bottom: 15px;">
            <li class="active"><a href="#mydates" data-toggle="tab" aria-expanded="true">MyDates<div class="ripple-container"></div></a></li>
            <li class=""><a href="#stats" data-toggle="tab" aria-expanded="true">Stats<div class="ripple-container"></div></a></li>
            <li class=""><a href="#settings" data-toggle="tab" aria-expanded="true">Settings<div class="ripple-container"></div></a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="mydates">
                <h1>Your Dates</h1>
                <div class="list-group">
                    <div class="list-group-item" *ngFor="let date of dates">
                        <div class="row-picture">
                            <img class="circle" src='{{ date.image_url | image:"original" }}' alt="icon">
                        </div>
                        <div class="row-content">
                            <h4 class="list-group-item-heading">{{ date.name }}</h4>

                            <p class="list-group-item-text">Total cost: ${{ date.total_cost }} Total time: {{ date.total_time }} minutes.</p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="stats">
                <h1>Your Date Statistics</h1>
            </div>
            <div class="tab-pane fade" id="settings">
                <h1>Your Settings</h1>
            </div>
        </div>
    </div>
</div>