<!-- Login and Sign Up -->
<div *ngIf="!isLoggedIn" class="col-md-4">
    <div class="bs-component">
        <ul class="nav nav-pills" style="margin-bottom: 15px;">
            <li class="active"><a class="login" href="#login" data-toggle="tab" aria-expanded="true">Login<div class="ripple-container"></div></a></li>
            <li class=""><a class="signup" href="#signup" data-toggle="tab" aria-expanded="true">Sign Up<div class="ripple-container"></div></a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="login">
                <login></login>
            </div>
            <div class="tab-pane fade" id="signup">
                <div class="col-xl-6">
                    <div class="well bs-component">
                        <form #addAccountForm="ngForm" (ngSubmit)="add()" id="addAccount" name="addAccount" class="form-horizontal">
                            <fieldset>
                                <div class="col-md-offset-2 col-md-10">
                                    <legend>Sign up</legend>

                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label" for="name">Your name</label>
                                        <input
                                            required minlength="3" maxlength="24" #name="ngModel"
                                            class="form-control" name="name" type="text" [(ngModel)]="user.name" required>

                                        <div *ngIf="name.errors && (name.dirty || name.touched)">
                                            <span class="help-block" [hidden]="!name.errors.required && !name.errors.minlength && !name.errors.maxlength">
                                            Name is invalid
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label" for="email">Your email</label>
                                        <input #email="ngModel" class="form-control" name="email" type="email" [(ngModel)]="user.email" required>
                                        <span class="help-block">Please enter a valid email address</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="control-label">Year of birth</label>
                                        <select #year="ngModel" name="year" class="form-control" [(ngModel)]="user.age" required>
                                            <option *ngFor="let number of years">{{number}}</option>
                                        </select>
                                    </div>

                                    <p style="margin: 20px 0 20px -15px" *ngIf="passwordsDontMatch" class="text-danger">Please ensure your passwords match.</p>

                                    <div class="form-group label-floating is-empty">
                                        <label for="password" class="control-label">Password</label>
                                        <input class="form-control" name="password" type="password" [(ngModel)]="user.password" required>
                                    </div>

                                    <div class="form-group label-floating is-empty">
                                        <label for="confirmpassword" class="control-label">Confirm Password</label>
                                        <input [(ngModel)]="confirmPassword" class="form-control" name="confirmpassword" type="password" required>
                                    </div>

                                    <label>
                                        <input 
                                            type="checkbox"
                                            name="location"
                                            [(ngModel)]="user.allow_loc_services"
                                        ><span class="checkbox-material"><span class="check"></span></span> Allow location services
                                    </label>

                                    <button type="submit" class="btn btn-primary" [disabled]="!addAccountForm.form.valid">Create Account<div class="ripple-container"></div></button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Stats and Settings -->
<div *ngIf="isLoggedIn" class="col-md-4">
    <div class="bs-component">
        <ul class="nav nav-pills" style="margin-bottom: 15px;">
            <li class="active"><a class="mydates" href="#mydates" data-toggle="tab" aria-expanded="true">MyDates<div class="ripple-container"></div></a></li>
            <li class=""><a class="stats" href="#stats" data-toggle="tab" aria-expanded="true">Stats<div class="ripple-container"></div></a></li>
            <li class=""><a class="settings" href="#settings" data-toggle="tab" aria-expanded="true">Settings<div class="ripple-container"></div></a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="mydates">
                <h1>Your Dates</h1>
                <p *ngIf="datesLoaded && dates?.length == 0">You don't have any dates.<br><br><a routerLink="/search">Build one now.</a></p>
                <p *ngIf="!datesLoaded">Loading your dates...</p>
                <div class="list-group">
                    <div class="list-group-item" *ngFor="let date of dates; let i = index;">
                        <div *ngIf="i == 0" class="list-group-separator separator-first"></div>
                        <a [routerLink]="['../date/' + date.id]" target="_blank">
                            <div class="row-picture">
                                <img class="circle" src='{{ date.image_url | image:"original" }}' alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{ date.name | ellipsis:50 }}</h4>

                                <p class="list-group-item-text">Total cost: ${{ date.total_cost }} Total time: {{ date.total_time | hours }}.</p>
                            </div>
                        </a>
                        <div class="list-group-separator"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="stats">
                <h1>Your Date Statistics</h1>
                <p *ngIf="datesLoaded && dates?.length == 0">You don't have any dates.<br><br><a routerLink="/search">Build one now.</a></p>
                <p *ngIf="!datesLoaded">Loading your stats...</p>
                <div *ngIf="!datesEmpty">
                    <p>Average cost: ${{ stats?.average_cost }}</p>
                    <p>Average time: {{ stats?.average_time | hours}}</p>
                    <category [categories]="stats.categories"></category>
                </div>
            </div>
            <div class="tab-pane fade" id="settings">
                <p *ngIf="!datesLoaded">Loading your settings...</p>
                <form *ngIf="datesLoaded" class="form-horizontal">
                    <fieldset>
                        <div class="col-md-offset-2 col-md-10">
                            <legend>Your Settings</legend>
                            <div class="form-group label-static is-empty">
                                <label class="control-label" for="name">Your name</label>
                                <input [(ngModel)]="user.name" name="name" class="form-control" id="name" value="user.name">
                            </div>
                            <div class="form-group label-static is-empty">
                                <label class="control-label" for="email">Your email</label>
                                <input [(ngModel)]="user.email" name="email" class="form-control" id="email" type="email">
                                <span class="help-block">Please enter a valid email address</span>
                            </div>

                            <div class="form-group label-static is-empty">
                                <label for="password" class="control-label">New Password</label>
                                <input [(ngModel)]="user.password" name="password" class="form-control" id="password" type="password">
                            </div>

                            <div class="form-group label-static is-empty">
                                <label for="confirmpassword" class="control-label">Confirm New Password</label>
                                <input class="form-control" name="confirmpassword" type="password">
                            </div>

                            <label>
                                <input 
                                    type="checkbox"
                                    name="location"
                                    [(ngModel)]="user.allow_loc_services"
                                    ><span class="checkbox-material"><span class="check"></span></span> Allow location services
                            </label>

                            <button type="submit" class="btn btn-primary change" (click)="changeSettings()">CHANGE<div class="ripple-container"></div></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>