<div *ngIf="selectedEvent">
    <div id="eventModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="button-wrapper">
                        <a 
                            target="_blank"
                            [routerLink]="selectedEvent.id" >
                            <i class="material-icons close">open_in_new</i>
                        </a>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                </div>
                <div class="modal-body">
                    <event [isSelected]="true" [event]="selectedEvent"></event>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button 
                        (click)="addEvent(selectedEvent)"
                        type="button" 
                        class="add-to-builder btn btn-primary">Add to Builder</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="event-wrapper " *ngIf="noResults === false && singleEvent === false" >
    <event class="event-item col-lg-4 col-md-6" *ngFor="let event of events"
        (eventSelected)="loadModal($event)"
        (eventAdded)="addEvent($event)"
        [isSelected]="false"
        [isMini]="false" 
        [event]="event"
    ></event>
</div>

<builder
    [addedEvent]="addedEvent"
></builder>