<div *ngIf="selectedEvent">
    <div id="eventModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="button-wrapper">
                        <a 
                            target="_blank"
                            [routerLink]="selectedEvent.id" >
                            <i class="material-icons close">open_in_new</i>
                        </a>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <h4 class="modal-title">{{selectedEvent.name}}</h4>
                </div>
                <div class="modal-body">
                    <event [isSelected]="true" [event]="selectedEvent"></event>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Add to Builder</button>
                </div>
            </div>
        </div>
    </div>
</div>


<ul *ngIf="singleEvent === false">
    <li *ngFor="let event of events">
        <a (click)="loadModal(event.id)">
            <event [isSelected]="false" [event]="event"></event>
        </a>
        <a class="btn btn-primary btn-fab"><i class="material-icons">grade</i></a>
    </li>
</ul>