img {
    width: 100px;
}

li {
    list-style-type: none;
    padding: 5px;
    width: 300px;
    margin: 5px;
}

i.close {
    color: rgb(0, 150, 136);
    margin-right: 10px;
    opacity: 0.6;
}

i.close:hover {
    color: rgb(0, 150, 136);
    opacity: 1;
}

.close {
    float: left !important;
}

.button-wrapper {
    float: right;
}