.add-event-button {
    margin-top: -45px !important;
    opacity: 1 !important;
    background-color: #ff4081 !important; 
}

.star {
    color: #ffffff;
}



.col-md-4 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

a.img-wrapper {
    width: 100%;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background-color: #eee;
}

.img-wrapper > img {
    margin: 0 auto;
    max-width: 100%;

}