<div class="event" [ngClass]="{'panel panel-default': !isSelected, 'mini' : isMini }">
    <div *ngIf="!isSelected" >
        <a class="img-wrapper" (click)="selectEvent()" >
            <img
                *ngIf="!isMini" 
                src='{{ event.image_url | image:"large" }}' />
            <img
                *ngIf="isMini" 
                src='{{ event.image_url }}' />
        </a>
    </div>
    <div [ngClass]="{'panel-body': !isSelected }">
        <a 
            *ngIf="!isSelected && !isMini"
            (click)="onAddEvent(event.id)" 
            class="close add-event-button btn btn-primary btn-fab"><i class="star material-icons">add</i>
        </a>    
        <a (click)="selectEvent()">
            <div class='event-info'>
                <h3 *ngIf="!isMini">{{ event.name | ellipsis:25 }}</h3>
                <h4 *ngIf="isMini">{{ event.name | ellipsis:20 }}</h4>
                <div *ngIf="!isMini">
                    <p>{{ event.location.display_address }}</p>
                    <p>{{ event.display_phone }}</p>
                    <p>Rating: {{ event.rating }}</p>
                </div>
            </div>
        </a>
    </div>
</div>

