<div [ngClass]="{'col-lg-2':singleEvent}"></div>
<div class="event" [ngClass]="{'panel panel-default': !isSelected, 'mini' : isMini, 'col-lg-8' : singleEvent }">
    <div *ngIf="!isSelected">
        <a class="img-wrapper" (click)="selectEvent()">
            <a *ngIf="isMini" (click)="removeEvent()" class="btn btn-fab btn-fab-mini"><i class="material-icons">close</i><div class="ripple-container"></div></a>
            <div *ngIf="event.image_url !== undefined">
                <img src='{{ event.image_url | image:"large" }}' />
            </div>
            <div *ngIf="event.image_url === undefined">
                <p style="margin:10px">No image available</p>
            </div>
        </a>
    </div>
    <div [ngClass]="{'panel-body': !isSelected}">
        <a *ngIf="!isSelected && !isMini" (click)="onAddEvent(event.id)" class="close add-event-button btn btn-primary btn-fab"><i class="star material-icons">add</i></a>
        <a *ngIf="!isSelected && !isMini" target="_blank" href="{{googleLinks}}" class="close map-event-button btn btn-primary btn-fab"><i class="star material-icons">map</i></a>

        <a (click)="selectEvent()">
            <div class='event-info'>
                <h2 style="color:#000000;" [ngClass]="{'spacing': isSelected}" *ngIf="!isMini">{{ event.name | ellipsis:23 }}</h2>
                <h4 *ngIf="isMini">{{ event.name | ellipsis:30 }}</h4>
                <div *ngIf="!isMini">
                    <p>{{ event.location.display_address }}</p>
                    <p *ngIf="event.display_phone">{{ event.display_phone }}</p>
                    <p *ngIf="!event.display_phone">No phone number available</p>

                    <p *ngIf="event.rating">Rating: {{ event.rating }}</p>
                    <p *ngIf="!event.rating">No rating available</p>
                </div>
                <div *ngIf="singleEvent">
                    <p style="color:black;">Categories</p>
                    <div *ngFor="let cat of categories; let i = index">
                        <span class="label label-primary" *ngIf="i%2 == 0">{{cat}}</span>
                    </div>
                    <br>
                </div>

                <div *ngIf="isMini">
                    <div class="form-group form-group-sm is-empty">
                        <label class="small-label control-label">Cost:</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input [(ngModel)]="event.cost" type="number" min="0.01" step="0.01" max="2500" class="cost form-control" required>
                        </div>
                    </div>
                    <div class="form-group form-group-sm is-empty">
                        <label class="small-label control-label">Time:</label>
                        <div class="input-group">
                            <span class="clock-span input-group-addon"><i class="clock material-icons">access_time</i></span>
                            <select [(ngModel)]="event.time" name="time" class="form-control" required>
                                <option></option>
                                <option value=30>00:30</option>
                                <option value=60>01:00</option>
                                <option value=90>01:30</option>
                                <option value=120>02:00</option>
                                <option value=150>02:30</option>
                                <option value=180>03:00</option>
                                <option value=210>03:30</option>
                                <option value=240>04:00</option>
                                <option value=270>04:30</option>
                                <option value=300>05:00</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div [ngClass]="{'col-lg-2':singleEvent}"></div>