<div class="event" [ngClass]="{'panel panel-default': !isSelected, 'mini' : isMini }">
    <div *ngIf="!isSelected" >
        <a class="img-wrapper" (click)="selectEvent()" >
            <div *ngIf="event.image_url !== undefined">
                <img src='{{ event.image_url | image:"large" }}' />
            </div>
            <div *ngIf="event.image_url !== undefined">
                <p style="margin:10px">No image available</p>
            </div> 
        </a>
    </div>
    <div [ngClass]="{'panel-body': !isSelected }">
        <a 
            *ngIf="!isSelected && !isMini"
            (click)="onAddEvent(event.id)" 
            class="close add-event-button btn btn-primary btn-fab"><i class="star material-icons">add</i>
        </a>    
        <a (click)="selectEvent()">
            <div class='event-info'>
                <h3 *ngIf="!isMini">{{ event.name | ellipsis:25 }}</h3>
                <h4 *ngIf="isMini">{{ event.name | ellipsis:13 }}</h4>
                <div *ngIf="!isMini">
                    <p>{{ event.location.display_address }}</p>
                    <p *ngIf="event.display_phone">{{ event.display_phone }}</p>
                    <p *ngIf="!event.display_phone">No phone number available</p>

                    <p *ngIf="event.rating">Rating: {{ event.rating }}</p>
                    <p *ngIf="!event.rating">No rating available</p>
                </div>
                <div *ngIf="isMini">
                    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-html='true' data-placement="top" data-content='<form ><input type="text"/></form>'>Top</button>
                </div>
            </div>
        </a>
    </div>
</div>

