.builder {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 0 !important;

    height: 295px;
}

.builder > .panel-body {
    height: 300px;
    background-color: #eee;
    overflow-x: scroll;
}

.panel-heading {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

@media (min-width: 650px) { /* see event.css */
    li {
        display: inline-block;
    }
}

@media (max-width: 649px) { 
    li {
        display: block;
    }
}

.btn-done {
    opacity: 1 !important;
    background-color: #ff4081 !important; 
    position: absolute !important;
    right: 15px !important;
    top: 25px !important;
    z-index: 1 !important;
}

#input-small {
    background-image: linear-gradient(#009688,#009688),linear-gradient(#fff,#fff) !important;
    width: 90%;
    margin: 0 !important;
    color: rgba(255,255,255,0.8) !important;
}

.panel-heading {
    padding: 5px 10px !important;
}

.form-group {
    margin: 0 !important;
}



.form-group.is-focused {
    color: #fff !important;
}

#show-builder {
    position: absolute;
    top: -80px;
    right: 15px;
    color: #009688; 
}

