.builder {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 0 !important;

    height: 275px;
}

.builder > .panel-body {
    height: 300px;
    background-color: #eee;
    overflow-x: scroll;
}

.panel-heading {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

@media (min-width: 650px) { /* see event.css */
    li {
        display: inline-block;
    }
}

@media (max-width: 649px) { 
    li {
        display: block;
    }
}