.col-md-offset-2.col-md-10 > legend {
    margin-left: -15px;
}

.btn {
    font-size: 18px !important;
}

p.text-danger {
    margin-left: -15px !important;
}

.btn.btn-primary {
    position: absolute;
    right: 0px;
    bottom: -15px;
}

#password {
    margin-bottom: 50px;
}

form {
    margin-top: 30px;
}

legend {
    margin-left: -15px;
}

.col-md-8.loginsignup {
    padding: 0 30px;
}