<div *ngIf="date.name" class="panel panel-default date">
    <div>
        <a class="img-wrapper">
            <img src='{{ date.image_url | image:"large" }}' />
        </a>
    </div>
    <div class="panel-body">
        <div class='event-info'>
            <h3>{{ date.name | ellipsis:25 }}</h3>
            <div>
                <b>Total Cost: ${{ date.total_cost }}</b><br>
                <b>Total Time: {{ date.total_time | hours }}</b><br><br>
                <p>Your plans: </p>
                <ul>
                    <li *ngFor="let bus of businessNames; let i = index;">
                        <a 
                            target="_blank"
                            [routerLink]="businessUrls[i]"
                        >{{ bus }}</a><br>
                        
                        <div *ngIf="i != businessNames.length-1">
                            <p *ngIf="distances[i] < 2"><i class="material-icons">directions_walk</i>{{ distances[i] }} miles</p>
                            <p *ngIf="distances[i] > 2"><i class="material-icons">directions_car</i>{{ distances[i] }} miles</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>