<div id="dateModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="button-wrapper">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <h4 class="modal-title">Confirm deletion</h4>
            </div>
            <div class="modal-body">
                <p>Would you like to delete "{{date.name}}"?</p>
            </div>
            <div class="modal-footer">
                <button id="dismiss-confirm" type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                <button (click)="delete()" type="button" class="delete-date btn btn-primary">delete</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="date.name" class="panel panel-default date">
    <div>
        <a class="img-wrapper">
            <img src='{{ date.image_url | image:"large" }}' />
        </a>
    </div>
    <div class="panel-body">
        <a (click)="openModal()" class="close add-event-button btn btn-primary btn-fab"><i class="star material-icons">delete</i></a>
        <div class='event-info'>
            <h3>{{ date.name }}</h3>
            <div>
                <b>Total Cost: ${{ date.total_cost }}</b><br>
                <b>Total Time: {{ date.total_time | hours }}</b><br><br>
                <h4>Your date plans: </h4>
                <div class="list-group">
                    <div class="list-group-item" *ngFor="let bus of businessNames; let i = index;">
                        <div *ngIf="i == 0" class="list-group-separator separator-first"></div>
                        <a [routerLink]="businessUrls[i]">
                            <div class="row-picture">
                                <div class="circle">
                                    <i *ngIf="i == 0" class="material-icons">place</i>
                                    <i *ngIf="distances[i] < 2 && i != 0" class="material-icons">directions_walk</i>
                                    <i *ngIf="distances[i] > 2" class="material-icons">directions_car</i>
                                </div>
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{ bus }}</h4>

                                <p class="list-group-item-text"><span *ngIf="distances[i] > -1">{{ distances[i] }} miles to </span><a target="_blank" href="{{googleLinks[i]}}"
                                        class="google-link">{{ addresses[i] | ellipsis:20 }}</a></p>
                            </div>
                        </a>
                        <div class="list-group-separator"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="dateLoaded && dateNotFound">
    <p style="margin-top: 100px" target="_blank">Date not found, but <a href="http://manninghamvet.com.au/sites/default/files/styles/large/public/images/article/cats.jpg">here's a cat picture.</a></p>
</div>